footer {
  background-color: #1e1e1e;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  bottom: 0;
}

footer a {
  text-decoration: none;
  color: #ada7a7;
  margin: 0 1em;
}

footer p {
  color: var(--wheat);
  margin: 0;
  padding: 0.5em;
}
