.fcc-logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.1em;
  }
  
  .fcc-logo {
    margin: 0 auto;
    width: 21em;
    height: 3em;
  }