.task-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3% auto;
}

@media screen and (max-width: 850px) {
    .task-list-container {
        margin: .5em 0;
    }
}