h1 {
  text-align: center;
  font-size: 1.5em;
  color: #1b1b32;
  font-family: Roboto, sans-serif;
  margin: 1.1em 0;
}
.todo-list-main {
  width: 36em;
  min-height: 31em;
  background-color: #d0d0d5;
  padding: 1.4em;
  margin: .8em;
  border-radius: .6em;
}